@tailwind base;
@tailwind components;
@tailwind utilities;



#navi {
  /* From https://css.glass */
  /* background: 0x302c36; */
  /* background: 0x302c36; */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(0.2px);
  -webkit-backdrop-filter: blur(0.2px);
}

/* .modal {
  background-color: red !important;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}